<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Credence Aanlytics | Sample 2</title>
    </head>
    <body>
        <h1>Pattern 2</h1>
        <div id="dataTable">
            <table>
                <tr>
                    <th>City</th>
                    <td>{{name}}</td>
                </tr>
                <tr>
                    <th>Weather</th>
                    <td>{{weather.0.main}}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{weather.0.description}}</td>
                </tr>
                <tr>
                    <th>Current Temperature</th>
                    <td>{{main.temp}}</td>
                </tr>
                <tr>
                    <th>Maximum Temperature</th>
                    <td>{{main.temp_max}}</td>
                </tr>
                <tr>
                    <th>Minimum Temperature</th>
                    <td>{{main.temp_min}}</td>
                </tr>
                <tr>
                    <th>Pressure</th>
                    <td>{{main.pressure}}</td>
                </tr>
                <tr>
                    <th>Humidity</th>
                    <td>{{main.humidity}}</td>
                </tr>
                <tr>
                    <th>Visibility</th>
                    <td>{{visibility}}</td>
                </tr>
            </table>
        </div>
        <br>
        <button id ='dw_btn' onclick="downloadTable('pattern2.html','dataTable','text/html')">
            Download table
        </button>
        <a href="/">
            <button id ='render_btn'>Home</button>
        </a>
        <a href="/reports1">
            <button id = 'render_btn'>Pattern 1</button>
        </a>
        <br>
        <!-- Styling the interface -->
        <style>
            a{text-decoration: none;}

            table,th,td 
            {
                padding: 5px;
                border: 2px solid black;
                border-collapse: collapse;
            }

            #dw_btn 
            {
                background-color: DodgerBlue;
                border: none;
                color: white;
                padding: 10px 30px;
                cursor: pointer;
                font-size: 16px;
            }
            #dw_btn:hover 
            {
                background-color: RoyalBlue;
            }
            
            #render_btn
            {
                background-color: #4CAF50; /* Green */
                border: none;
                color: white;
                padding: 10px 10px;
                font-size: 16px;
                cursor: pointer;
            }
        </style>
    </body>
    <script>
        function downloadTable(filename, elId, mimeType) {
            var elHtml = document.getElementById(elId).innerHTML;
            var link = document.createElement('a');
            mimeType = mimeType || 'text/plain';

            link.setAttribute('download', filename);
            link.setAttribute('href', 'data:' + mimeType  +  ';charset=utf-8,' + encodeURIComponent(elHtml));
            link.click(); 
        };
    </script>
</html>
