<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Credence Aanlytics | Sample 1</title>
    </head>
    <body>
        <h1>Pattern 1</h1>
        <div id="dataSection">
            <p><font><u>{{name}}, {{sys.country}}</u></font> <b>{{weather.0.description}}</b>
            <br>
            <mark>{{main.temp}} &#8451;</mark> temperature from {{main.temp_min}} to {{main.temp_max}} &#8451;, wind {{wind.speed}} m/s. clouds {{clouds.all}} %, {{main.pressure}} hpa
            <br>
            Geo chords <font><u>[{{coord.lat}},{{coord.lon}}]</u></font></p>
        </div>
        <br>
        <button id = 'dw_btn' onclick="downloadContent('pattern1.html','dataSection','text/html')">
            Download report
        </button>
        <a href="/">
            <button id ='render_btn'>Home</button>
        </a>
        <a href="/reports2">
            <button id = 'render_btn'>Pattern 2</button>
        </a>
        <br>
        <!-- Styling of the interface -->
        <style>
            a{text-decoration: none;}
            font{color: red;}
            mark
            {
                background-color: black;
                color: white;
            }
            #dataSection
            {
                margin: 10px;
                border: 1px solid black;
            }

            #dw_btn 
            {
                background-color: DodgerBlue;
                border: none;
                color: white;
                padding: 10px 30px;
                cursor: pointer;
                font-size: 16px;
            }
            #dw_btn:hover 
            {
                background-color: RoyalBlue;
            }
            
            #render_btn
            {
                background-color: #4CAF50; /* Green */
                border: none;
                color: white;
                padding: 10px 10px;
                font-size: 16px;
                cursor: pointer;
            }

        </style>
    </body>
    <script>
        function downloadContent(filename, elId, mimeType) {
            var elHtml = document.getElementById(elId).innerHTML;
            var link = document.createElement('a');
            mimeType = mimeType || 'text/plain';

            link.setAttribute('download', filename);
            link.setAttribute('href', 'data:' + mimeType  +  ';charset=utf-8,' + encodeURIComponent(elHtml));
            link.click(); 
        };
    </script>
</html>
